* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.asideBox {
  width: 217px;
  height: 344px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 164px;
}
.asideDiv {
  margin-top: 32px;
}
.a {
  width: 203px;
  display: flex;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px;
}
.allBox {
  display: flex;
}
.a_icon {
  margin-left: 51px;
}
.a_icon2 {
  margin-left: 81px;
}
.Line {
  border: 1px solid rgba(128, 128, 128, 0.249);
  height: 375px;
  margin-left: 30px;
}

 @media only screen and (max-width: 415px) {
  .asideBox {
    display: none;
  }
} 














