.container {
  width: 80%;
  margin: auto;
}

.product_text_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  color: rgb(219, 68, 68);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.rectangle {
  display: flex;
  gap: 10px;
  margin: 0px auto;

  align-items: center;
}

.firstSelling {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selling {
  margin-top: 80px;
}

.frame {
  display: flex;
  gap: 50px;
  align-items: center;

  margin: 0 auto;
}

.rectangle h1 {
  color: #DB4444;
  font-family: 'Inter';
  font-size: 20px;
}

.red {
  border: 1px solid #DB4444;
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #DB4444;
}

.browsing {
  font-family: Inter;
  font-size: 36px;
  font-weight: bold;
  margin: 20px auto;
}

.slider {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}




.sliderBoxes {
  border-radius: 4px;
  background-color: #F5F5F5;
  width: 270px;
  height: 250px;
  position: relative;
}


.sliderBoxes img {
  width: 170px;
  height: 150px;
  top: 50px;
  left: 50px;
  position: absolute;
}

.saleProcent {
  background-color: #DB4444;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  width: 55px;
  height: 26px;
  top: 12px;
  left: 12px;
  padding: 4px 12px 4px 12px;
  gap: 10px;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;

}

.svg {
  top: 5px;
  left: 4px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50px;
  color: #000000;
  width: 30px;
  height: 30px;

}

.iconsBox {
  display: flex;
  margin: 15px 0;
  flex-direction: column;
  gap: 10px;

}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;

}

.price {
  display: flex;
  /* gap: 20px; */
  align-items: center;
}

.line {
  text-decoration: line-through;
  color: grey;
  font-weight: 500;
}

.firstPrice {
  font-size: 18px;
  font-family: 'Poppins';
  color: #DB4444;
  font-weight: 500;
  margin-right: 10px;
}

.starIcons {
  display: flex;
}

.downSideText {
  font-size: 16px;
  font-family: 'Poppins';
  padding: 10px 0px;
}

.star {
  color: #FFAD33;
}

.starColor {
  color: #bfbfbf;
}

.infoDown {
  display: flex;
  justify-content: space-between;
  width: 9%;
  margin: 10px 0px;
}

.numberDown span {
  color: #6084A4;
  font-weight: 500;
}

.upSide button {
  background-color: #000;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  width: 270px;
  height: 41px;
  top: 209px;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  cursor: pointer;
}


.view button {
  cursor: pointer;
  background-color: #DB4444;
  color: #FFF;
  width: 159px;
  height: 56px;
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px;
  border: none;

}







.text_span {
  width: 1.25rem;
  height: 2.5rem;
  background-color: #ef4444;
  border-radius: 5px;
  color: #ef4444;
}

.all_view {
  display: flex;
  justify-content: space-between;
  margin: 25px 0px 50px;
}

.all_view h1 {
  font: 600 36px Inter;
}

.all_view a {
  background-color: #ef4444;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: white;
}

.products {
  background-color: gainsboro;
  padding: 8px 10px;
  width: 270px;
  height: 250px;
  position: relative;
  border-radius: 5px;
  margin: 0px 0px 10px;
}

.product_icon {
  display: flex;
  justify-content: end;
}

.star_icon {
  display: flex;
  gap: 7px;
}

.text_line {
  text-decoration: line-through;
  font: 500 16px Poppins;
  color: gray;
}

.product_value {
  color: #ef4444;
  margin: 0px 5px 0px 0px;
  font: 500 16px Poppins;
}

.text_h2 {
  font: 600 15px Inter;
}

.upSide {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 95%;
  padding: 10px 0px 0px;
}

.svg_product {
  width: 25px;
  padding: 3px;
  background: white;
  border-radius: 100%;
  margin: 0px 0px 10px;
  position: relative;
  z-index: 2;
}

.svg_product:hover {
  background-color: #ef4444;
  cursor: pointer;
  transition: color 0.5s ease, 0.5s ease;
}

.product_img {
  position: relative;
  left: 29px;
  top: -45px;
  width: 190px;
  height: 180px;
}

.add_card {
  position: absolute;
  left: 0px;
  top: 210px;
  width: 270px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  justify-content: center;
  background: black;
  color: white;
  cursor: pointer;
  opacity: 0;
}

.add_card:hover {
  opacity: 1;
  transition: color 0.5s ease, 0.5s ease;
}

.card_img_wraper {
  display: flex;
  gap: 30px;
}

.card_img2 {
  position: relative;
  left: 30px;
  top: -40px;
  width: 190px;
  height: 150px;
}

.card_img4 {
  position: relative;
  left: 5px;
  top: -45px;
  width: 250px;
  height: 180px;
}

.card_img3 {
  position: relative;
  left: 35px;
  top: -40px;
  width: 200px;
  height: 170px;
}

.HrFooter {
  border: 1px solid rgba(128, 128, 128, 0.249);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.all_products {
  border-radius: 5px;
  background: rgb(219, 68, 68);
  padding: 14px 40px;
  color: white;
  font: 500 17px Inter;
}

.all_products_div {
  display: flex;
  justify-content: center;
  margin: 35px 0px;
  transition: color 0.5s ease, 0.5s ease;
}

.all_products_div:hover {
  transform: scale(1.1);
}

.wrapper {
  display: flex;
  margin: 0px 0px 100px;
  justify-content: space-between;
}

@media only screen and (max-width: 415px) {
  .all_view h1 {
    font-size: 30px;
  }

  .all_view a {
    padding: 0;
    width: 140px;
    height: 60px;
    justify-content: center;

  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .products {
    margin-top: 20px;
  }
}