nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  margin-top: 1%;
  width: 100%;
}
.nav_h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.allInputBox {
  display: flex;
  align-items: center;
  width: 23%;
}
.searchIcon {
  font-size: 20px;
  cursor: pointer;
}
.HeartIcon {
  font-size: 30px;
  cursor: pointer;
  padding-left: 20px;
}
.ShoppinghIcon {
  font-size: 30px;
  padding-left: 20px;
  cursor: pointer;
}
.HeartShoppingIcon {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.inputDivNav {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  width: 255px;
  background-color: #f5f5f5;
}
.inputDivNav_input {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  font-size: 15px;
}
.HrFooter {
  border: 1px solid rgba(128, 128, 128, 0.249);
}
.navBar {
  display: flex;
  width: 50%;
}
.navBar_li {
  margin-left: 70px;
}
.navBar_a {
  color: black;
  font-family: "Poppins", sans-serif;
}
.navBar_a:hover {
  border-bottom: 2px solid gray;
}

#selectHeader{
  display: none;
}
/* ?1************************************************************* */
@media only screen and (max-width: 835px) {
  .nav_h1 {
    font-size: 20px;
  }
  #navBar_a {
    font-size: 13px;
  }
  #inputDivNav {
    width: 200px;
    padding: 2px 20px;
  }
  #navBar_li {
    margin-left: 30px;
  }
  #searchIcon {
    font-size: 12px;
  }
  #HeartIcon {
    font-size: 20px;
  }
  #ShoppinghIcon {
    font-size: 19px;
  }
  #allInputBox {
    width: 45%;
    gap: 10px;
  }
}
@media only screen and (max-width: 415px) {
  #container {
    width: 95%;
  }
  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_h1 {
    font-size: 25px;
    font-weight: 1000;
    margin-bottom: 8px;
    margin-top: 10px;
  }
  #navBar {
    display: none;
  }
  #allInputBox{
    display: none;
  }
  #selectHeader{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
